

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="inner-addon left-addon" style="margin-left:180px">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" ng-model="test" placeholder="Search">
            </div>

            <ul class="list-group" ng-repeat="k in juice|filter:test">

                <li class="list-group-item list-group-item-success">{{k.type}}</li>
                <li class="list-group-item list-group-item-info">{{k.name}}</li>
                <li class="list-group-item list-group-item-warning">{{k.content}}</li>
                <li class="list-group-item list-group-item-danger">{{k.price}}</li>
                <li class="list-group-item list-group-item-default">
                    <button type="button" class="btn btn-primary btn-sm">View More</button>
                    <button type="button" class="btn btn-info btn-sm">Order</button>
                    <button type="button" class="btn btn-success btn-sm">Payment</button>
                </li>
            </ul>
        </div>
    </div>
</div> 
