<style>
    img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
</style>


<div class="container">
    
    <div class="row">

        <div class="col-md-6" style="background-color:lightgray">
            <h2>SignUp Form</h2>
            <form name="myForm" ng-submit="login(myForm)" novalidate>
                <a href="contactus.html"></a>
                 <div class="form-group">
                    <label for="email">Name:</label>
                    <input type="text" ng-model="user.name" class="form-control" name="name" placeholder="Enter email" required>
                    <span class="error" ng-if="myForm.name.$touched || myForm.$submitted">
                        <span ng-if="myForm.name.$error.required">
                            Please Enter  Name
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" ng-model="user.email" class="form-control" name="email" placeholder="Enter email" required>
                    <span class="error" ng-if="myForm.email.$touched || myForm.$submitted">
                        <span ng-if="myForm.email.$error.email">
                            Please Enter Valid E-Mail
                        </span>
                        <span ng-if="myForm.email.$error.required">
                            Please Enter  E-Mail
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" ng-model="user.password" class="form-control" name="password" placeholder="Enter password" ng-minlength="5" ng-maxlength="10" required>
                    <span class="error" ng-if="myForm.password.$touched || myForm.$submitted">
                        <span ng-if="myForm.password.$error.required">
                            Please enter password
                        </span>
                        <span ng-if="myForm.password.$error.minlength">
                            Please enter minimum 5 char
                        </span>
                        <span ng-if="myForm.password.$error.maxlength">
                            Please enter maximum 10 char
                        </span>
                    </span>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div >
</div>
<img src="images/juicedrink.jpg" class="img-circle pull-right " alt="Cinque Terre" width="1200" height="600">